h1{
    background-color: rgb(122, 156, 161);
    text-align: center;
}

body{
    background-color: rgb(63, 63, 63);
}

p{
    color: white;
    text-align: center;
}

img{

    display: block;
    margin: 0 auto;
}
.parent-aontainer{

    text-align: center;
}

.parent-aontainer{
    display: inline-block;
}